@{
    ViewData["Title"] = "Mockups";
}

<div>
    <h1 class="display-4">Mockups</h1>
    <ul>
        <li><a asp-controller="Mockups" asp-action="ResetStageOne">Password Reset</a></li>
        <li><a asp-controller="Mockups" asp-action="SignUp1">Sign Up</a></li>
    </ul>
</div>  